* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    ;
}

body {
    font-family: "Poppins", sans-serif;
}

#home {
    background-color: #343a40;
    margin-bottom: -150px;
    position: relative;
    /* Uncomment this line */
    z-index: 1;
    /* Set a lower z-index */
}

#home h3 {
    font-size: 80px !important;
    margin-bottom: 0;

}

#home p {
    letter-spacing: 3px;
}

.carousel-item {
    max-height: 70vh;
    background: no-repeat center bottom scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: fill;
}

a {
    text-decoration: none;
    color: #1f1f1f;
    font-weight: 600;
}

h2,
h3 {
    text-transform: uppercase;
    margin-bottom: 1em;
}

h3 {
    text-align: center;
}

h2::after {
    content: "";
    display: block;
    border-bottom: 1px solid #c2c2c2;
    width: 100%;
    margin: 20px auto 30px;
}

.card-img-overlay {
    padding: 3px;
    border-radius: 5px;
}

.card-img-top {
    min-height: 400px;
    max-height: 400px;
    /* height: 300px; */
    object-fit: cover;
    object-position: top;
}

.card p {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.75);
    width: calc(100% - 6px);
    text-align: center !important;
    padding: 5px 0;
}

.btn {
    transition: transform .2s;
}

.btn:hover {
    transform: scale(1.05);
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#services .card {
    transition: transform .2s;
    margin-bottom: 5px;
}

#services .card:hover {
    transform: scale(0.98);
}

.service-card {
    width: 100%;
    padding-top: 100%;
    position: relative;
    border: 3px solid #000;
}

.service-card .card-body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.navbar {
    background-color: #343a40;
}

.navbar-brand, .navbar-nav .nav-link {
    color: #ffffff;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

/* Others  */
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}


.modal a {
    display: block;
    text-align: right;
    padding-top: 10px;
}

.progress{
margin-bottom: 1.5em;
}

.progress-title{
margin-left: 10px;
}

.letKnow {
    width: 100%;
    border-bottom: 1px solid #343a40;
    line-height: 0.1em;
    margin: 10px 0 10px;
    color: white !important;
    ;
}

#contact h4 {
    text-align: center;
}

.letKnow span {
    background: #343a40;
    padding: 0 10px;
    text-transform: uppercase;
}

#about {
    background-color: #343a40 !important;
    color: #f8f9fa !important;
    border-radius: 4px;
    position: relative;
    /* Uncomment this line */
    z-index: 2;
    /* Set a higher z-index */
}

@media only screen and (max-width: 425px) {
    #about {
        border-radius: 0;
    }

    #about h2 {
        margin-top: 2em;
    }

}

@media (max-width: 768px) {
    .navbar, footer {
        background-color: #374e65 !important;
    }

}

@media (max-width: 1203px) {
    #home h3 {
        font-size: 50px !important;
    }
}

.btn {
    border-radius: 4px;
}

.btn-custom {
    background-color: #0f0f0f;
    color: white;
}

.btn-custom:hover {
    background-color: #ff0000;
    color: white;
}

#contact form {
    width: 75%;
    margin: 0 auto;
}

footer{
    background-color: #343a40;
    text-align: center;
}

footer a {
    color: white !important;
    font-weight: 400 !important;
}

#projects h3 span {
    color: #ff0000;
}