/* @import url("https: //cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css"); */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    ;
}

body {
    font-family: "Poppins", sans-serif;
}

#home {
    background-color: #343a40;
    margin-bottom: -150px;
    z-index: -1;
}

#home h3 {
    font-size: 80px !important;
    margin-bottom: 0;

}

#home p {
    letter-spacing: 3px;
}

.carousel-item {
    max-height: 70vh;
    background: no-repeat center bottom scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: fill;
}

a{
text-decoration: none;
color: #1f1f1f;
font-weight: 600;
}

h2,
h3 {
    text-transform: uppercase;
    margin-bottom: 1em;
}

h3 {
    text-align: center;
}

h2::after {
    content: "";
    display: block;
    border-bottom: 1px solid #c2c2c2;
    width: 100%;
    margin: 20px auto 30px;
}

.card-img-overlay {
    padding: 3px;
    border-radius: 5px;
}

.card-img-top {
    min-height: 400px;
    max-height: 400px;
    /* height: 300px; */
    object-fit: cover;
    object-position: top;
}

.card p {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.75);
    width: calc(100% - 6px);
    text-align: center !important;
    padding: 5px 0;
}

.btn {
    transition: transform .2s;
}

.btn:hover {
    transform: scale(1.05);
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#services .card {
    transition: transform .2s;
    margin-bottom: 5px;
}

#services .card:hover {
    transform: scale(0.98);
}

.service-card {
    width: 100%;
    padding-top: 100%;
    position: relative;
    border: 3px solid #000;
}

.service-card .card-body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.navbar {
    background-color: rgba(255, 255, 255, 0.25);
}

.navbar-light .navbar-nav .nav-link {
    color: #0f0f0f;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

/* Others  */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

.bx-phone-call:before {
    content: "\ebb3"
}

.modal a {
    display: block;
    text-align: right;
    padding-top: 10px;
}

.skillbar {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.skillbar-bar:before {
    background: #acacac;
    content: "";
    height: 3px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.skillbar-bar {
    height: 3px;
    width: 0px;
    background: #0f0f0f;
    transition-property: width, background-color;
}

.skillbar-title {
    color: #0f0f0f;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}

.skill-bar-percent {
    display: inline-block;
    color: #0f0f0f;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

.letKnow {
    width: 100%;
    border-bottom: 1px solid #343a40;
    line-height: 0.1em;
    margin: 10px 0 10px;
    color: white !important;
    ;
}

#contact h4 {
    text-align: center;
}

.letKnow span {
    background: #343a40;
    padding: 0 10px;
    text-transform: uppercase;
}

@media (prefers-color-scheme: dark) {
    #about {
        background-color: #343a40 !important;
        color: #f8f9fa !important;
        /* margin-top: -200px; */
        /* z-index: 1; */
    }

    #home h3,
    #home p {
        color: #f8f9fa !important;
    }
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

@media (max-width: 992px) {
    .navbar {
        background-color: rgba(255, 255, 255, 0.5);
    }

}

@media (max-width: 1203px) {
    #home h3 {
        font-size: 50px !important;
    }
}

.btn {
    border-radius: 4px;
}

.btn-custom {
    background-color: #0f0f0f;
    color: white;
}

.btn-custom:hover {
    background-color: #ff0000;
    color: white;
}

#contact form {
    width: 75%;
    margin: 0 auto;
}

footer i{
font-size: 1.5em;
}